<div class="form-bg">
    <div class="container xxl mt-5">

        <div class="row">
            <div class=" fixed-header mt-5">
        
                <div class="form-container">
                    <form [formGroup]="Addition" (ngSubmit)="addNote()" class="form-horizontal " >
                        <h2 class="title pt-2 pb-2">New Note</h2>
                        <div class="side-right">
                        <button class="btn signin" routerLink="/view">Back</button>
                        </div>
                        <!-- <label style="color: red;">WRONG CREDENTIALS</label> -->
                        <br/>

                        <label class="input-icon">Title:</label>
                        <div class="form-group">
                            <input class="form-control" type="text"  id="title" name="title" formControlName="title" >
                        </div>

                        <label class="input-icon">Content:</label>
                        <!-- <span class="error" *ngIf="email?.invalid && email?.touched">Email is required</span> -->
                        <div class="form-group">
                            <textarea class="form-control" id="content" rows="5" name="content" formControlName="content"></textarea>
                        </div>
                        <!-- <span class="error" *ngIf="password?.invalid && password?.touched">Password is required</span> -->
                        <br/>
                        <button class="btn me-2" type="submit">Add</button>
                        <button class=" btn" type="reset">Clear</button>

                        <!-- <span class="register"><a href="registration">Register / Signup</a></span> -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

